
{:tasks
 {:requires ([babashka.fs :as fs]
             [babashka.process :refer [shell]]
             [clojure.edn :as edn])

  cljs  {:doc "Compileing clojure script"
         :task (do (println "Compiling to js") (clojure "-M:cljs:cljs-build:cljs-release"))}

  install {:doc "Install jar"
           :task (do
                   (println "Installing jar")
                   (run 'clean)
                   (run 'cljs)
                   (run 'jar)
                   (clojure "-T:build install"))}

  clean {:doc "Clean"
         :task (do (println "Cleaning target") (clojure "-T:build clean"))}

  deploy {:doc "Deploy"
          :task (do (println "Deploying")
                    (run 'clean)
                    (run 'cljs)
                    (run 'jar)
                    (let [env (edn/read-string (slurp "env.edn"))]
                      (println
                       (:out (shell/sh
                              "env"
                              (str "CLOJARS_USERNAME=" (:clojars/username env))
                              (str "CLOJARS_PASSWORD=" (:clojars/password env))
                              "clojure" "-T:build deploy")))))}

  jar {:doc "Build jar"
       :task (do (println "building jar") (clojure "-T:build jar"))}}}

